header, body, footer{
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    padding-left: 25px;
    align-items: center;
    justify-content: center;
    color: white;
}

h2 {
    margin-bottom: 0px;
}

header {
    background-color: rgb(12, 39, 116);
    padding: 5px;
}

header img {
    width: 230px;
    height: auto;
    margin-right: 10px;
    margin-top: 5px;
}

footer{
    background-color: rgb(12, 39, 116);
}

#signature {
    padding-top: 5px;
    text-align: center;
    color: white;
}

#signature a{
    color: grey;
}

#lastupdated{
    color: White;
    text-align: center;
    padding-bottom: 5px;
}