@media only screen and (min-width: 32.5rem){
    .navigation {
        display: flex;
    }

    .navigation li{
        display: block;
        flex: 1 1 auto;
        color: yellow;
    }

    nav ul {
        display: flex;
        justify-content: center;
        margin-left: 2vm;
    }

    .navigation li:first-child{
        display: none;
    }

}