body{
    padding: 0;
    margin: 0;
}

header{
    background-color: #F18F01;
    padding: 5px 0;
    border-radius: 0 0.75rem;
    display: flex;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.9);
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}

.motto {
    letter-spacing: 1pt;
	color: black;
	font-weight: 700;
	font-size: 0.8rem;
}
/* nav configuration attempt
#menu{
    background-color: #2E4057;
    margin: 0 auto;
    max-width: 900px;
    box-shadow: 0 0 30px rgba(0, 0, 0 , 0.9);
}

#menu ul{
    list-style-type: none;
    overflow: hidden;
}

#menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
    background: linear-gradient(90deg, transparent, white, transparent) bottom /
        var(--d, 0) 10px no-repeat;
    transition: 0.5s;
}

.active{
    color: green;
}
*/

/*Alternative nav attempt
*/
nav{
    margin: 0 auto;
    max-width: 900px;
    background-color: #2E4057;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child{
    display: block;
}

.navigation li{
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham:before {
    content: "\2630 Menu";
}

.navigation a:hover{
    color: black;
    background-color: darkgray;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
    display: block;
}

.responsive a.ham::before {
    content: "X ";
}

nav ul li.active a {
    color: #2E4057;
    background-color: rgba(255, 255, 255 , 0.6);
}

#content{
    background-color: #048BA8;
    margin: 0 auto;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.9);
    padding: 5px 0;
}

footer{
    background-color: #F18F01;
    border-radius: 0 0.75rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.9);
}

#signature{
    padding: 5px 0;
    text-align: center;
    color: black;
}

#date_time{
    color: black;
    text-align: center;
    padding-bottom: 5px;
}

@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block;  /*change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}

